@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    background: rgb(4, 0, 37);
    background: radial-gradient(circle, rgb(6, 1, 45) 0%, rgb(0, 14, 39) 69%, rgb(9, 22, 45) 100%);
    margin: 0 15%;
}

section{
    margin: 2% 0;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

h2 {
    font-size: 24px;
    font-weight: 500;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 12px;
}

h5 {
    font-size: 10px;
}

.efeito-glass {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.23);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.4px);
    -webkit-backdrop-filter: blur(13.4px);
    border: 1px solid rgba(255, 255, 255, 0.29);
}